<div class="mt-4">
  <div class="row">
    <div class="col-lg-3 w-100 text-center mb-3">
      <div class="card" style="width: 18rem;">
        <img
          class="card-img-top"
          src="https://scontent.fsgn2-6.fna.fbcdn.net/v/t39.30808-6/344237324_954425809024190_1946256460116569382_n.jpg?_nc_cat=111&ccb=1-7&_nc_sid=09cbfe&_nc_ohc=3NM_h796LEcAX9vXxWt&_nc_ht=scontent.fsgn2-6.fna&oh=00_AfBQkMyyRqteM0P9Fiw_HQllszf0uNlX75_IuszQu8t1EQ&oe=64720A06"
          alt="Card image cap"
        />
        <div class="card-body d-flex flex-column align-items-center">
          <h4 class="card-title text-success">Brovu</h4>
          <p>63.CNTT5 - 63132843</p>
          <div class="d-flex justify-content-center">&#9742;:<p></p>
              0935939401</p></div>
              <div class="w-50 mt-4">
                <div class="bg-info rounded ">
                  <a class="text-white" href="https://www.facebook.com/vu.annh.3154/"><i class="fa-brands fa-facebook py-2"></i> Facebook</a>
                </div>
                <div class="bg-dark rounded  mt-2">
                  <a class="text-white" href="https://github.com/Brovu"><i class="fa-brands fa-github py-2"></i> Github</a>
                </div>
              </div>
        </div>
      </div>
    </div>
    <div class="col-lg-9">
      <h2 class="mb-5">{{course.name}}</h2>
      <iframe
        class="w-100"
        width="560"
        height="315"
        src="https://www.youtube.com/embed/{{course.videoId}}"
        title="YouTube video player"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen
      ></iframe>
      <p class="mt-5">{{course.decription}}</p>
    </div>
  </div>
</div>